name: Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Theos
        uses: Randomblock1/theos-action@v1

      - name: Install libarchive
        run: |
          brew install libarchive

      - name: Build TrollStore
        run: |
          sed -i.bak 's#build_installer15 build_installer64e#g' Makefile
          make

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.workflow }}-${{ github.run_id }}
          path: |
            _build/*
